<%- include('partials/header') %>
<title>View projects page</title>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="/css/viewproject.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
     <div style="background-image: url(./photos/email-pattern.png);">
          <div class="header">
               <h1>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h1>
          </div>

          <p class="abc">WELCOME TO TEACHER'S HOME PAGE!</p>
          <br>
          <div class="border1">
               <div class="row">
                    <div class="column side">
                         <div class="border">
                              <h1 style="font-size: 25px"><%=result[0].NAME%></h1>
                              <i class="fa fa-user" style="font-size: 21px">
                                   <%=result[0].EMAIL%></i>
                              <br />
                              <br />
                              <br />
<!-- 
                              ------------------------------------------------------- -->
                              <% var yetTo = 0 %>
                              <% var pending = 0 %>
                                   <%if(result2.length==0){%>
                                       
                                        <%}else{%>
                                             <%for(var i=0;i<docs.length;i++){%>
                                                  
                                                                 <% for(let j=0; j<result[i].MEMBERS_NO;j++){ %>
                                                                      
                                                                      <% } %>
                                                           
                                                            
                                                       
                                   
                                                       <%if((docs[i].length-result[i].MEMBERS_NO)!=0){%>
                                                            
                                                                <% pending++ %>
                                                                      
                                                            
                                                            <%}else{%>
                                                                 <% yetTo++ %>
                                                                 <%}%>
                                                                      <%}%>
                                                  
                                                  <%}%>




































<!-- 
                              --------------------------------------------------- -->
                              <div class="flip-box">
                                   <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                             <h2 style="font-size: 20px">
                                                  Number of teams yet to submit the project
                                             </h2>
                                        </div>
                                        <div class="flip-box-back">
                                             <h2><%= yetTo %></h2>
                                        </div>
                                   </div>
                              </div>
                              <div class="flip-box">
                                   <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                             <h2 style="font-size: 20px">
                                                  Number of teams whose project has to be graded
                                             </h2>
                                        </div>
                                        <div class="flip-box-back">
                                             <h2><%= pending %></h2>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="column middle">
                         <div class="topnav">
                              <a href="/teacher/viewreport">View Reports</a>
                              <a href="/teacher/scheduleappointment">Appointments</a>
                              <a class="active" href="/teacher/viewproject" style="color: black">View Projects</a>
                              <a href="/teacher/grading">Grading </a>
                              <a href="/teacheruser/logout">Logout </a>
                         </div>
                         <h2 style="font-size: 20px">
                              <span style="font-size: 20px">&#9733;</span> List of projects
                              submitted by teams:
                         </h2>
                         <table id="teachers" class="table">

                              <tr>
                                   <th>Section</th>
                                   <th>Teams</th>
                                   <th>Topics</th>
                                   <th>Structure</th>
                                   <th>Link</th>
                              </tr>
                              <%if(result2.length==0){%>
                              <tr>

                              </tr>
                              <%}else{%>
                              <%for(var i=0;i<docs.length;i++){%>
                              <tr>
                                   <td><%=result[i].SECTION%></td>
                                   <td>
                                        <ul>
                                             <% for(let j = 0; j<result[i].MEMBERS_NO;j++){ %>
                                             <li><%= docs[i][j].NAME %></li>
                                             <% }  %>
                                        </ul>
                                   </td>
                                   <td><%=result[i].PROJECT_TITLE%></td>

                                   <%if((docs[i].length-result[i].MEMBERS_NO)!=0){%>
                                   <td>
                                        <%var index=result[i].MEMBERS_NO;%>
                                        <p><%=docs[i][index].STRUCTURE.substring(0,20)%>...<a target="_blank"
                                                  href="/teacher/viewproject/<%=result[i].PROJECT_TITLE%>">more</a></p>
                                   </td>
                                   <td class="Link of website" style="font-size: 18px;">
                                        <%var j=docs[i].length-1;%>
                                        <a href="<%=docs[i][j].LINK%>" target="_blank">
                                             <%=docs[i][j].LINK%></a>
                                   </td>
                                   <%}else{%>
                                   <td>NOT YET SUBMITTED</td>
                                   <td>NOT YET SUBMITTED</td>
                                   <%}%>
                                   <%}%>
                              </tr>
                              <%}%>
                         </table>
                    </div>
               </div>
          </div>
     </div>
     <%- include('partials/footer') %>