<%- include('partials/header') %>
    <title>Schedule Appointment Tab</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7909e8b9ea.js" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
    </head>

    <body>
        <header>
            <h1>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h1>
        </header>
        <div class="container">
            <div class="sidebar">
                <div class="name">
                    <p><i class="fas fa-project-diagram"></i>
                        <h2>PROJECT NAME:</h2>
                        <h3>
                            <%=pname%>
                        </h3>
                    </p>
                </div>
                <div class="notifications">
                    <h3 style="color: #593535;">NOTIFICATIONS:</h3>
                    <ul>
                        <li>LAST DAY TO SUBMIT YOUR REPORT IS-29TH SEPTEMBER</li>
                        <hr>
                        <li>APPOINTMENT HAS BEEN SCHEDULED AT 14TH NOV-5:45PM</li>
                        <hr>
                        <li>LAST DAY TO SUBMIT YOUR PROJECT IS-29TH NOVEMBER</li>
                        <hr>
                        <li>PRESENTATION HAS BEEN SCHEDULED AT:17TH OCTOBER-3:45PM</li>
                        <hr>
                        <li>FINAL GRADES HAVE BEEN GIVEN FOR YOUR PROJECT SUBMISSION</li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/student/report">Report Submission</a></li>
                    <li class="active"><a href="/student/appointment">Schedule an Appointment</a></li>
                    <li><a href="psub.html">Project Submission</a></li>
                    <li><a href="grades.html">Grades</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <div class="main">
                <% console.log(scheduled); %>
                    <% if(scheduled === 0){ %>

                        <form action="/student/appointment" method="POST">
                            <h2>PLEASE SELECT THE TYPE OF APPOINTMENT:</h2>
                            <div class="toggle" id="toggle">
                                <input type="radio" name="appointment" value="1" id="appointment1" checked="checked">
                                <label for="appointment1">PRESENTATION</label><br><br>
                                <input type="radio" name="appointment" value="2" id="appointment2">
                                <label for="appointment2">DOUBT CLARIFICATION</label>
                            </div>
                            <div id="header">
                                <h2>SELECT DATE AND TIME FOR THE APPOINTMENT:</h2>
                            </div>
                            <div class="time">
                                <input type="datetime-local" id="appointmenttime" name="appointmenttime" required><br><br>
                            </div>
                            <div id="button">
                                <input type="submit" value="SUBMIT" class="disap btn" onclick="validate();">
                            </div>
                        </form>
                        <% }else {  %>
                            <% console.log(date); %>
                                <div class="table">
                                    <table>
                                        <caption style="text-align:left">APPOINTMENT DETAILS</caption>
                                        <tr>
                                            <th>TEAM NO</th>
                                            <th>SCHEDULED BY</th>
                                            <th>APPOINTMENT TYPE</th>
                                            <th>DATE OF APPOINTMENT</th>
                                            <th>APPROVAL</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <%= pid %>
                                            </td>
                                            <td>
                                                <%= sby %>
                                            </td>
                                            <td id="type1">
                                                <%= type %>
                                            </td>
                                            <td id="type2">
                                                <%= date %>
                                            </td>
                                            <td>
                                                <%= approval %>
                                            </td>
                                        </tr>
                                    </table>
                                    <p>**THE LINK IS USUALLY UPDATED ONE DAY PRIOR TO APPOINTED DATE</p>
                                </div>

                                <% } %>

            </div>
        </div>

        <%- include('partials/footer') %>