<%- include('partials/header') %>
  <title>Teacher home page</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="/css/viewreport.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <% console.log("jingalala", values) %>
  <div style="background-image: url(./photos/email-pattern.png);">
  <div class="header">
    <h1>BMSCE ONLINE PROJECT SUBMISSION PORTAL</h1>
  </div>
  <p class="abc">WELCOME TO TEACHER'S HOME PAGE!</p>
  <br />
  <div class="border1">
    <div class="row">
      <div class="column side">
        <div class="border">
          <h1 style="font-size: 30px"><%=tname%></h1>
          <i class="fa fa-user" style="font-size: 23px">
            <%=temail%></i>
            <br />
          <br />
          <br />
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <h2 style="font-size: 20px">
                  Number of teams yet to submit the report
                </h2>
              </div>
              <div class="flip-box-back">
                <h2>5 teams</h2>
              </div>
            </div>
          </div>
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <h2 style="font-size: 20px">
                  Number of teams whose report has to be approved
                </h2>
              </div>
              <div class="flip-box-back">
                <h2>2 teams</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column middle">
        <div class="topnav">
          <a class="active" href="/teacher/viewreport" style="color: black">View Reports</a>
          <a href="/teacher/viewappointment">Appointments</a>
          <a href="/teacher/viewproject">View Projects</a>
          <a href="/teacher/grading">Grading </a>
          <a href="/teacheruser/logout">Logout </a>
        </div>

        <h2 style="font-size: 20px">
          <span style="font-size: 20px">&#9733;</span> List of reports
          submitted by teams:
        </h2>
        <table id="teachers" class="table">
          <thead>
            <tr>
              <th>Teams</th>
              <th>Topics</th>
              <th>Report</th>
              <th>Approval</th>
            </tr>
          </thead>
          <tbody>
            <% values.forEach((team)=>{ %>
            <tr>
              <td>
                <ul>
                 <% for(let i = 0; i< team.length-1;i++){ %>
                    <li><%= team[i].NAME %></li>
                 <% }  %>
                </ul>
              </td>
              <td><%= team[3].TITLE %></td>
              <td>
                <a href="#"><i class="fas fa-file-alt" style="font-size: 22px">
                    <%= team[2].LINK %></i></a>
              </td>
              <td class="approval">
                <input type="checkbox" class="checkbox" name="checkBox2" />
              </td>
            </tr>

            <% }); %>
            

            
          </tbody>
        </table>
        </div>
    </div>
  </div>
  <div>
     <%- include('partials/footer') %>
